$primary-hex: #2B2B2B;
$secondary-hex: #F84C03;
$primary-bg: #ffffff;
$secondary-bg: #F9F9F9;
$icon-blue: #377DFF;
$text-hex:#555555;
$secondary-text: #CFCFD1;
$border-hex : #D5D5D5;



$primary: var(--primary);
$secondary: var(--secondary);
$white: var(--primary-bg);
$snow-drift: var(--secondary-bg);
$blue: var(--dodger-blue);
$dark-grey: var(--text-hex);
$light-grey: var(--secondary-hex);
$border-grey: var(--border-grey);